/**
 * 覆盖 Mand mobile 样式
 */

$color: #fc9153;

/* Tabs */
.orders-wrapper {
  .md-tab-bar {
    .md-tab-title.active {
      color: $color;
    }

    .ink-bar {
      background: $color;
    }
  }
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}