/**
 * 覆盖 Mand mobile 样式
 */

$color: #fc9153;

/* Tabs */
.orders-wrapper {
  .md-tab-bar {
    .md-tab-title.active {
      color: $color;
    }

    .ink-bar {
      background: $color;
    }
  }
  .indicator-container {
    justify-content: center;
    margin: 30px 0;
  }
}

/* Apply form required field */
.base-form,
.more-apply__info {
  .md-input-item-title.fixed::before {
    content: '*';
    padding-top: 5px;
    padding-right: 5px;
    color: #ff525d;
  }

  .step-two__field {
    .md-input-item-title.fixed::before {
      content: '';
    }
  }
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}