.notice-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .svg-icon {
    color: #fc9153;
    font-size: 200px;
    padding: 25% 0 20px 0;
  }
  .content {
    text-align: center;
    color: gray;
    .msg-title {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 40px;
    }
    .msg-desc {
      font-size: 30px;
      color: #808080;
      a {
        color: #fc9153;
        text-decoration: none;
      }
    }
  }
  .opr-area {
    margin-bottom: 25px;
    width: 100%;
    .btn-area {
      margin: 30px;
      .md-button.primary {
        border-radius: 10px;
      }
    }
  }
}